.sliderHoriz {
    width: 1200px;
    grid-area: horizSlider;
}

.sliderVert {
    height: 120px;
}
.canvas {
    grid-area: canvas;
    border:1px solid white;
}


.box {
    display: grid;
    grid-template-columns: 50px auto;
    row-gap: 4px;
    grid-template-areas: 
    "controls canvas"
}
.controls {
    display: grid;
    grid-area: controls;
}
