.sliderHoriz{
    width: 1200px;
    grid-area: horizSlider;
}

.sliderVert{
    height: 200px;
    grid-area: vertSlider;
}
.canvas{
    grid-area: canvas;
    border:1px solid white;
}


.box{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-areas: 
    "vertSlider canvas"
}