.sliderHoriz {
    width: 1200px;
    grid-area: horizSlider;
}

.sliderVert {
    height: 120px;
}
.canvas {
    grid-area: canvas;
    border:1px solid white;
}

.trackInfo {
    grid-area: trackInfo;
    
}


.box {
    display: grid;
    grid-template-columns: 100px 50px auto;
    row-gap: 4px;
    grid-template-areas: 
    "trackInfo controls canvas"
}
.controls {
    display: grid;
    grid-area: controls;
}

.trackInfo {
    padding: 4px;
    font-size: 0.8em;
}
