<dc-song-panel 
    [song]="song$ | async" 
    [songId]="songId"
    [displacement]="displacement$ | async"
    [scale]="scale$ | async"
    [playingSong]="playingSong$ | async"
    [mutedTracks]="mutedTracks$ | async"

    
    (displacementChanged) = "displacementChanged($any($event))"
    (scaleChanged) = "scaleChanged($any($event))"
    (songStartedPlaying) = "songStartedPlaying($any($event))"
    (songStoppedPlaying) = "songStoppedPlaying()"
    (songPaused) = "songPaused()"
    (songResumed) = "songResumed()"
    (muteStatusChanged) = "muteStatusChanged($any($event))"
    (unmuteAllTracks) = "unmuteAllTracks()"
    >
</dc-song-panel>