.sliderHoriz{
    width: 1200px;
    grid-area: horizSlider;
}

.sliderVert{
    height: 400px;
    grid-area: vertSlider;
}
.canvas{
    grid-area: canvas;
}

.panelControl{
    grid-area: panelControl;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
}

.container{
    display: grid;
    grid-template-columns: 150px auto;
}

h1 {
    padding: 22px;
}