.sliderHoriz{
    width: 1200px;
    grid-area: horizSlider;
}

.sliderVert{
    height: 400px;
    grid-area: vertSlider;
}
.canvas{
    grid-area: canvas;
}

.panelControl{
    grid-area: panelControl
}

.box{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-areas: 
    ". panelControl"
    ". horizSlider"
    "vertSlider canvas"
}